<div class="Back">
 
</div>

<div class="NewContent">

     <div class="container form-row" style="margin-top: 20px;">

       <section class="col-sm-12">
        <li class="fa fa-times" (click)='onCloseNew()' ></li>
       </section>



       <div class="col-sm-12">
        <label> Name</label>
        <input type="text" class="form-control is-valid" placeholder="Enter The name" >
      </div>
      
  
       <div  class="col-sm-12">
        <select class="custom-select" style="background-color: transparent; color: white;">
          <option selected disabled>Choose...</option>
          <option value="1" style="color: black">Group</option>
          <option value="2" style="color: black">Page</option>
        </select>
      </div>




        <!-- <div class="col-sm-12">
          <label>Interested</label>
          <input type="text" class="form-control is-valid"  placeholder="what is the page talk about" >
        </div> -->

        <div  class="col-sm-12">
          <label>Interested</label>
          <select class="custom-select" style="background-color: transparent; color: white;">
            <option selected disabled>Interested...</option>
            <option value="1" style="color: black">Art</option>
            <option value="2" style="color: black">Music</option>
            <option value="2" style="color: black">movie</option>
            <option value="2" style="color: black">Tech</option>
            <option value="2" style="color: black">football</option>
            <option value="2" style="color: black">Other</option>
          </select>
        </div>
        
        <div class="col-sm-12">
            <button  class="btn btn-outline-primary   btn-block"> Create </button>
        </div>
          

     </div>

</div>