
<section class="_LeftBar" style="font-size: 13px;">
    <app-navbar></app-navbar>
    <BR><BR>

    <div class="container">
        <small>MENU</small>

        <div class="row _Menu" >


            <a (click)='onHome()' class=" col-sm-12">
                <i class="fa fa-home"></i>
                <span>Home</span> 
            </a>

            <a href="#" class=" col-sm-12">
                <i class="fa fa-home"></i>
                <span>News</span> 
            </a>

            <a href="#" class=" col-sm-12">
                <i class="fa fa-map-marker"></i>
                <span>Explore</span> 
            </a>

            <a href="#" class=" col-sm-12">
                <i class="fa fa-file"></i>
                <span>File</span> 
            </a>

        

            <a href="#" class=" col-sm-12">
                <i class="fa fa-calendar-alt"></i>
                <span>Event</span> 
            </a>

            

        
        </div>

        <hr style="border-bottom:1px solid black ;">

        <small>Your Favourite</small>

        <div class="row _Favourite">


            <a href="#" class=" col-sm-12">
                <i class="fas fa-hiking"></i>
                <span>Science</span> 
            </a>

            <a href="#" class=" col-sm-12">
                <i class="fab fa-canadian-maple-leaf"></i>
                <span>Birds</span> 
            </a>

            <a href="#" class=" col-sm-12">
                <i class="fa fa-vials"></i>
                <span>Tree</span> 
            </a>

            <a href="#" class=" col-sm-12">
                <i class="fa fa-vials"></i>
                <span>Animals</span> 
            </a>


        
        </div>


    </div>


</section>
