
           
            <section class="_Center" style="font-size: 13px; margin: 0px 0px;">

                <div class="row _Profile">
                   


                    <section class="col-sm-12  _Options">
                        <ul class="row">
                            <li class="col">Time Line</li>
                            <li class="col">About</li>
                            <li class="col">Friends</li>
                            <li class="col">Photos</li>
                            <li class="col">More</li>
                        </ul>
                        
                    </section>

                    
                    <section class="offset-1 col-sm-3 _Info" > 
                            <div class="col-sm-12 row _Details">
                                <section class="col-sm-12 _Intro">
                                    <small>Intoduction</small>

                                    <div> 
                                        <section style="margin-top: 10px;">
                                            <span class="fa fa-home"></span>
                                            <span style="margin-left: 20px;">Live in <a href="#">Egypt</a> </span>
                                        </section>

                                        <section style="margin-top: 10px;">
                                            <span class="fa fa-home"></span>
                                            <span style="margin-left: 20px;">Work As <a href="#">Programmer</a> </span>
                                        </section>

                                        <section style="margin-top: 10px;">
                                            <span class="fa fa-home"></span>
                                            <span style="margin-left: 20px;">Work in <a href="#">Google</a> </span>
                                        </section>


                                    </div>

                                    

                                </section>

                                <section class="col-sm-12 _Pages">
                                    <small>Your Pages</small>

                                    <section style="margin: 20px ; " >
                                        <span>
                                             <img style="width: 30px;height: 30px; " src='https://ptetutorials.com/images/user-profile.png' alt="page">
                                        </span>
                                        <span style="margin-left: 40px;"> <a href="#">gym</a> </span>
                                    </section>

                                    <section style="margin: 20px ; " >
                                        <span>
                                             <img style="width: 30px;height: 30px; " src='https://ptetutorials.com/images/user-profile.png' alt="page">
                                        </span>
                                        <span style="margin-left: 40px;"> <a href="#">gym</a> </span>
                                    </section>


                                    <section style="margin: 20px ; " >
                                        <span>
                                             <img style="width: 30px;height: 30px; " src='https://ptetutorials.com/images/user-profile.png' alt="page">
                                        </span>
                                        <span style="margin-left: 40px;"> <a href="#">gym</a> </span>
                                    </section>

                                    <section style="margin: 20px ; " >
                                        <span>
                                             <img style="width: 30px;height: 30px; " src='https://ptetutorials.com/images/user-profile.png' alt="page">
                                        </span>
                                        <span style="margin-left: 40px;"> <a href="#">gym</a> </span>
                                    </section>

                                    <section style="margin: 20px ; " >
                                        <span>
                                             <img style="width: 30px;height: 30px; " src='https://ptetutorials.com/images/user-profile.png' alt="page">
                                        </span>
                                        <span style="margin-left: 40px;"> <a href="#">gym</a> </span>
                                    </section>

            

                                

                                </section>
                            </div>
                    
                    </section>

                    <section class="col-sm-7 _TimeLine" > 
                            <div class="row">
                                <section class="col-sm-12 _Post">

                                    <div class="input-group">

                                        <div class="input-group-prepend">
                                          <div class="input-group-text" style="background-color: transparent; border: none;">
                                            <img style="height: 30px; width: 30px;border-radius: 50%; background-color: transparent;" src='https://ptetutorials.com/images/user-profile.png'>
                                          </div>
                                        </div>
            
                                        <textarea class="form-control" placeholder="Write Something"></textarea>
                                    </div>


                                    <button style="float: right;" class="btn btn-outline-primary ml-auto"> Share</button>

                                </section>
                            </div>

                            <div class="row">

                                <section class="col-sm-12 _Post2">
                                    <div class="row">
                                        <section class="col-sm-12">
                                                <section class="row">
                    
                                                    <span class="col-sm-2">
                                                        <img  style="border-radius: 50%; width: 50px; height: 50px;"  src='https://ptetutorials.com/images/user-profile.png' >
                                                    </span>
                        
                                                    <span class="col-sm-7">
                                                        <h6>Hameed Nasr</h6>
                                                        <small>35 minutes age</small>
                                                    </span> 
                                            
                                                </section>
                                                <hr style="border-bottom:1px solid #414767 ;">

                                        </section>


                                        <section class="col-sm-12">
                                            <p>This is my new Photo</p>
                                            <img style="width: 100%; height: 90%;" src='https://ptetutorials.com/images/user-profile.png'>
                                        </section>


                                        <section class="col-sm-12">
                                            <hr style="border-bottom:1px solid #414767 ;">

                                            <div class="container row">
                                                <li class="col-sm-6 fa fa-heart"></li>
                                                <li class="col-sm-5 fa fa-comment"></li>
                                                <li class="col-sm-1 fa fa-share"></li>
                                            </div>
                                        

                                        </section>

                                        

                                    </div>




                                </section>

                                <section class="col-sm-12 _Post2">
                                    <div class="row">
                                        <section class="col-sm-12">
                                                <section class="row">
                    
                                                    <span class="col-sm-2">
                                                        <img  style="border-radius: 50%; width: 50px; height: 50px;"  src='https://ptetutorials.com/images/user-profile.png' >
                                                    </span>
                        
                                                    <span class="col-sm-7">
                                                        <h6>Hameed Nasr</h6>
                                                        <small>35 minutes age</small>
                                                    </span> 
                                            
                                                </section>
                                                <hr style="border-bottom:1px solid #414767 ;">

                                        </section>


                                        <section class="col-sm-12">
                                            <p>This is my new Photo</p>
                                            <img style="width: 100%; height: 90%;" src='https://ptetutorials.com/images/user-profile.png'>
                                        </section>


                                        <section class="col-sm-12">
                                            <hr style="border-bottom:1px solid #414767 ;">

                                            <div class="container row">
                                                <li class="col-sm-6 fa fa-heart"></li>
                                                <li class="col-sm-5 fa fa-comment"></li>
                                                <li class="col-sm-1 fa fa-share"></li>
                                            </div>
                                        

                                        </section>

                                        

                                    </div>




                                </section>


                            </div>
                    
                    </section>


                </div>



            </section>



