.Content{
    height: 100vh;
    overflow-y: scroll;
    background-color: #1d2030;
    font-size: 13px;
}
.Content .note{
    height: 15vh;
    color: white;
    background-color: #151828 ;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    transform: scale(0.9);
    cursor: pointer;
    transition: 0.5s;

}

.Content .note .image{

}
.Content .note .image img{
    width: 50%;
    height: 80%;
    margin: auto;
    margin-top: 10px;
}

.Content .note .detail,.Content .note .time{
    letter-spacing: 1px;
    margin-top: 35px;
}


.Content .note:hover{
    transition: 0.5s;
    transform: scale(1);
    background-color: white;
    color: black;
}

::-webkit-scrollbar{
    display: none;
}